[submodule "external/common"]
	path = external/common
	url = https://github.com/RealmOfAesir/common.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/uWebSockets"]
	path = external/uWebSockets
	url = https://github.com/uWebSockets/uWebSockets.git
