[submodule "external/uWebSockets"]
	path = external/uWebSockets
	url = https://github.com/uWebSockets/uWebSockets.git
[submodule "external/libsodium"]
	path = external/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "external/common_backend"]
	path = external/common_backend
	url = https://github.com/RealmOfAesir/common_backend.git
